<div class="row mt-3">
  <div class="col-4"><button type="button" class="btn btn-success" routerLink="/add">Ajouter</button></div>
  <div class="col-4"></div>
  <div class="col-4"><input class="form-control mb-4" id="tableSearch" type="text"
                            placeholder="Type something to search list items"></div>

</div>
<div >

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>telephone</th>
      <th>active</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let o of benevoles">
      <td>{{o.id}}</td>
      <td>{{o.name}}</td>
      <td>{{o.tel}}</td>
      <td>{{o.active}}</td>
      <td><span class="pointer text-danger"><i class="fas fa-trash-alt"></i></span></td>
    </tr>
    </tbody>

  </table>
</div>
